.card {
  padding: 18px 36px 20px 12px;
  width: fit-content;
  border-radius: 2px;
  height: 100%;
  width: 100%;

  .title {
    font-size: 14px;
    font-weight: 700;
  }

  .sub-title {
    font-size: 11px;
    font-weight: 400;
    color: #787878;
    margin-bottom: 20px;
  }
}
