<div class="content">
  <div class="stepper">
    <div class="stepper">
      <div class="step active-step">
        <div class="step-circle"></div>
        <div class="step-title">Início</div>
        <div class="step-bar-left"></div>
        <div class="step-bar-right"></div>
      </div>
      <div class="step">
        <div class="step-circle"></div>
        <div class="step-title">Documentos</div>
        <div class="step-bar-left"></div>
        <div class="step-bar-right"></div>
      </div>
      <div class="step">
        <div class="step-circle"></div>
        <div class="step-title">Dados cadastrais</div>
        <div class="step-bar-left"></div>
        <div class="step-bar-right"></div>
      </div>
      <div class="step">
        <div class="step-circle"></div>
        <div class="step-title">Admissão</div>
        <div class="step-bar-left"></div>
        <div class="step-bar-right"></div>
      </div>
    </div>
  </div>

  <div class="text">
    <span class="page-title"> Informe o CPF do futuro cooperado (a) </span>
    <span class="page-subtitle">
      Se necessário, você poderá duplicar uma conta existente ou pausar e
      retomar este cadastro futuramente. Digite apenas os números (sem pontos ou
      traços).
    </span>
  </div>

  <form [formGroup]="searchByCpfForm" (ngSubmit)="onSubmit()" class="form">
    <div
      class="{{
        cpf?.invalid && cpf?.touched ? 'container-invalid' : 'container-input'
      }}"
    >
      <label for="cpf" class="label">CPF</label>
      <input
        placeholder="000.000.000-00"
        [inputMask]="cpfInputMask"
        formControlName="cpf"
        id="cpf"
        maxlength="14"
      />
      <span class="hint" *ngIf="cpf?.invalid && cpf?.touched">
        Informe um CPF válido</span
      >
    </div>

    <div class="button">
      <app-buttom
        type="submit"
        class="primario p"
        [disabled]="searchByCpfForm.invalid"
        >Consultar por CPF</app-buttom
      >
    </div>
  </form>

  <div class="cards" *ngIf="user">
    <app-card
      id="element"
      title="Situação cadastral do CPF"
      subtitle="Consulta na Receita Federal"
    >
      <app-card-info
        label="Nome"
        [value]="user.name"
        icon="person"
      ></app-card-info>
      <app-card-info
        label="Situação do CPF"
        [value]="user.status"
        icon="check"
      ></app-card-info>
    </app-card>

    <app-card
      id="element"
      *ngFor="let account of user.accounts"
      [title]="account.accountType"
      [subtitle]="account.bankName"
    >
      <app-card-info
        label="Número da conta"
        [value]="account.accountNumber"
        icon="credit-card"
      ></app-card-info>
      <app-buttom class="terciario">Duplicar conta</app-buttom>
    </app-card>
  </div>
</div>
