<div class="teste">
  <div class="buttons">
    <app-buttom class="primario">Primary M</app-buttom>
    <app-buttom class="primario" [disabled]="true">Primary disabled</app-buttom>
    <app-buttom class="primario p">Primary P</app-buttom>

    <app-buttom class="secundario">Secondary M</app-buttom>
    <app-buttom class="secundario" [disabled]="true"
      >Secondary disabled</app-buttom
    >
    <app-buttom class="secundario p">Secondary P</app-buttom>
    <app-buttom class="terciario">Terciario</app-buttom>
  </div>

  <div class="inputs"></div>

  <app-card>
    <app-card-info></app-card-info>
    <app-card-info></app-card-info>
    <app-buttom class="terciario">Terciario</app-buttom>
  </app-card>
</div>
