<div class="header">
  <div class="title-container">
    <span class="title">NOVA ADMISSÃO COOPERADO</span>
    <span class="sub"
      >Cadastro / Admissão do Cooperado / Nova Admissão de Cooperado</span
    >
  </div>
  <div class="right-info">
    <div class="notify">
      <img src="assets/icons/bell.svg" alt="" />
      <span>7</span>
    </div>
    <div class="label">
      <button>VIACREDI</button>
    </div>
    <div class="user">
      <img class="pic" src="assets/images/profile.png" alt="" />
      <img class="cog" src="assets/icons/cog.svg" alt="" />
    </div>
  </div>
</div>
